.app{
    width: 100%;
    margin:auto ;
}

.images{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.couver{
    width:80%;
    height: 500px;
    margin: auto;
}
.profil{
    height: 200px;
    width: 200px;
    margin:auto;
    margin-left: 20%;
    -moz-border-radius : 100px;
  -webkit-border-radius : 100px;
  border-radius : 100px;
  margin-top: -80px;
  border-color:white ;
  border-style:solid ;
}
.Nom{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color:black;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    margin-top: -50px;
    
    
}
.adresse{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color:black;
    font-size:small;
    margin:auto;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}
.me-auto{
    display: flex;
    justify-content: space-between;
}
.carte{
    background-color:dimgray;
   
    border-radius: 30px;
    border-color:black;
    border-style: solid;
   
}
.container_carte{
    margin-top: 10%;
    width: 85%;
    margin:auto;
    padding-top:5% ;
    
}
li {
    font-weight: 100;
    font-style: oblique; 
    font-size: medium;
    color: black;
}
ul{
    font-style: normal;
    font-size: larger;
}
